<!-- source code : https://github.com/esheripov/Fresh-Connection-Brand -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" type="text/css" href="<?php echo "$base"?>css/fctv.css">
	<title>FCTV@ | Fresh Connection Brand TV</title>
</head>
<body>


    
    <!-- Start VideoLightBox.com BODY section -->
<div class="videogallery">
<a class="voverlay" href="http://vimeo.com/moogaloop.swf?clip_id=36674806&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;autoplay=1" title="The Fresh Life: Behind-the-Scenes of &quot;The Search&quot; (Webisode 7)"><img src="fctvlightbox_videolb/thumbnails/0.png" alt="The Fresh Life: Behind-the-Scenes of &quot;The Search&quot; (Webisode 7)" /><span></span></a>
<a class="voverlay" href="http://vimeo.com/moogaloop.swf?clip_id=35445138&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;autoplay=1" title="FCB Street presents: &quot;The Search&quot;"><img src="fctvlightbox_videolb/thumbnails/1.png" alt="FCB Street presents: &quot;The Search&quot;" /><span></span></a>
<a class="voverlay" href="http://vimeo.com/moogaloop.swf?clip_id=35260594&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;autoplay=1" title="#iCopped January 2012"><img src="fctvlightbox_videolb/thumbnails/2.png" alt="#iCopped January 2012" /><span></span></a>
<a class="voverlay" href="http://vimeo.com/moogaloop.swf?clip_id=31748689&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;autoplay=1" title="#SwagTalk: Loving The Crew"><img src="fctvlightbox_videolb/thumbnails/3.png" alt="#SwagTalk: Loving The Crew" /><span></span></a>
<a class="voverlay" href="http://vimeo.com/moogaloop.swf?clip_id=31307935&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;autoplay=1" title="#SwagTalk Winter 2011"><img src="fctvlightbox_videolb/thumbnails/4.png" alt="#SwagTalk Winter 2011" /><span></span></a>
<a class="voverlay" href="http://vimeo.com/moogaloop.swf?clip_id=29547381&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;autoplay=1" title="The Fresh Life: &quot;Writing the Future&quot; (Webisode 6)"><img src="fctvlightbox_videolb/thumbnails/5.png" alt="The Fresh Life: &quot;Writing the Future&quot; (Webisode 6)" /><span></span></a>
<a class="voverlay" href="http://vimeo.com/moogaloop.swf?clip_id=28546375&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;autoplay=1" title="The Fresh Life: &quot;Living the Brand&quot; (Webisode 5)"><img src="fctvlightbox_videolb/thumbnails/6.png" alt="The Fresh Life: &quot;Living the Brand&quot; (Webisode 5)" /><span></span></a>
<a class="voverlay" href="http://vimeo.com/moogaloop.swf?clip_id=28545616&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;autoplay=1" title="The Fresh Life: Webisode 5 Trailer"><img src="fctvlightbox_videolb/thumbnails/7.png" alt="The Fresh Life: Webisode 5 Trailer" /><span></span></a>
<a class="voverlay" href="http://vimeo.com/moogaloop.swf?clip_id=27424997&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;autoplay=1" title="The Fresh Life: &quot;Secret Weapon&quot; (Webisode 4)"><img src="fctvlightbox_videolb/thumbnails/8.png" alt="The Fresh Life: &quot;Secret Weapon&quot; (Webisode 4)" /><span></span></a>
<a class="voverlay" href="http://vimeo.com/moogaloop.swf?clip_id=27168725&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;autoplay=1" title="The Fresh Life: &quot;Cali Roots&quot; (Webisode 3)"><img src="fctvlightbox_videolb/thumbnails/9.png" alt="The Fresh Life: &quot;Cali Roots&quot; (Webisode 3)" /><span></span></a>
<a class="voverlay" href="http://vimeo.com/moogaloop.swf?clip_id=26893860&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;autoplay=1" title="The Fresh Life: &quot;A Look Inside&quot; (Webisode 2)"><img src="fctvlightbox_videolb/thumbnails/10.png" alt="The Fresh Life: &quot;A Look Inside&quot; (Webisode 2)" /><span></span></a>
<a class="voverlay" href="http://vimeo.com/moogaloop.swf?clip_id=26557282&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;autoplay=1" title="The Fresh Life: &quot;Dallas to DC&quot; (Webisode 1)"><img src="fctvlightbox_videolb/thumbnails/11.png" alt="The Fresh Life: &quot;Dallas to DC&quot; (Webisode 1)" /><span></span></a>
<a class="voverlay" href="http://vimeo.com/moogaloop.swf?clip_id=26517053&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;autoplay=1" title="The Fresh Life: Coming Soon"><img src="fctvlightbox_videolb/thumbnails/12.png" alt="The Fresh Life: Coming Soon" /><span></span></a>
<a class="voverlay" href="http://vimeo.com/moogaloop.swf?clip_id=23191718&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;autoplay=1" title="2011 Spring/Summer Collection Commercial"><img src="fctvlightbox_videolb/thumbnails/13.png" alt="2011 Spring/Summer Collection Commercial" /><span></span></a>
<a class="voverlay" href="http://vimeo.com/moogaloop.swf?clip_id=17647852&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;autoplay=1" title="The Fresh Connection"><img src="fctvlightbox_videolb/thumbnails/14.png" alt="The Fresh Connection" /><span></span></a><a class="videolb" href="http://videolightbox.com">HTML Videos by VideoLightBox.com v2.1m</a>
</div>
<script src="fctvlightbox_videolb/jquery.tools.min.js" type="text/javascript"></script>
<script src="fctvlightbox_videolb/videolightbox.js" type="text/javascript"></script>
<!-- End VideoLightBox.com BODY section -->
</body>
<link rel="shortcut icon" href="<?php echo "$base"?>images/favicon.ico" type="image/x-icon"> 
</html>